body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.button {
  
  border: none;
  color: white;
 
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  text-decoration: none;
 border-radius: 2rem;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {background-color: #f44336;}