<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./javascripts/controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>



<body ng-app="myApp" ng-controller="myCtrl">
    
    <h1>
        <center>
            <strong> Below To Search Your Super Hero</strong>
        </center>
    </h1>
    <input type="text" data-ng-change="search()" data-ng-model="test" placeholder="Search..">

    <div ng-repeat="x in testing.data.results">
        <h3>
            <strong>{{x.name}} </strong>
            <input type="button" value="details" class="button button3" ng-click="details($index)" style="float: right;">
            <br>
        </h3>
    </div>
    <br>
    <br>
    <br>


    <div style="float: left;">
        <h1> {{name}}</h1>
        <br>
        <h3>{{desc}}</h3>
        <br>

        <div ng-repeat="link in url">
            <h4>
                <a ng-href="{{link.url}}">{{link.url}}</a>
            </h4>
        </div>
    </div>



</body>

</html>